<form class="document-form">
  <mat-form-field appearance="outline">
    <mat-label>Document Name</mat-label>
    <input
      matInput
      type="text"
      [formControl]="userDocName"
      placeholder="Document Name"
    />
    <mat-error>Document name is required</mat-error>
  </mat-form-field>

  <button *ngIf="!file" mat-flat-button type="button" (click)="File.click()">
    Upload Document
  </button>

  <span *ngIf="file" class="document-name">
    <span>{{ documentName }}</span>
    <fa-icon [icon]="faClose" (click)="resetDocumentAttachment()"></fa-icon>
  </span>

  <button
    mat-flat-button
    type="button"
    [disabled]="userDocName.invalid || !file || isUploading"
    (click)="saveDocument()"
  >
    Save Document
  </button>
  <input
    #File
    type="file"
    accept=".pdf"
    style="display: none"
    (change)="attachDocument(File)"
  />
</form>
