@import "/src/app/utils/variables.scss";

.document-form {
  padding: 20px;
  border-radius: 12px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 32px;
}

button {
  background-color: $GREEN;
  color: $WHITE;
}

.document-name {
  font-weight: 500;

  span {
    margin-right: 8px;
  }

  fa-icon {
    color: $ORANGE;
    cursor: pointer;
  }
}
