<div #facultySection fxLayoutAlign="center" class="about-dypis">
  <div
    class="max-width-container about-us-max-width"
    fxLayout="column"
    fxLayoutGap="24px"
  >
    <img src="/assets/images/dypis-banner.png" alt="" />
    <div fxLayout="column" fxLayoutGap="8px">
      <div class="about-heading">About DYPIS</div>
      <div class="about-info" fxLayout="column" fxLayoutGap="8px">
        <span>
          D Y Patil International School at Kangra, Himachal Pradesh aspires at
          developing a sense of confidence and responsibility among students.
          One of the best CBSE board schools in Kangra, our students will be
          able to develop good communication skills, lay down a strong
          foundation for the vast knowledge and transfer positive principles for
          the benefit of their future.
        </span>
        <span>
          The key to attract a child's attention is the ambience and
          acquaintance but the school not just excel in terms of it but are also
          among the top CBSE board school in Himachal Pradesh. Learning while
          enjoying is one of our best features due to which kids relish the
          methodology of learning.
        </span>
        <span
          >Socializing is one of the challenging factors for kids. Like elders,
          kids also build experience from their environment. Hence, in the basic
          growing years, it is important to fortify their foundation with
          cognitive, social and physically strengthening skills. Our pre-school
          helps the child for this growth.</span
        >
      </div>
    </div>
  </div>
</div>
