<div
  #facilitySection
  id="facilities"
  fxLayoutAlign="center"
  class="facilities"
  (window:scroll)="updateAnimationStateOnScroll(facilitySection, state)"
>
  <div
    class="max-width-container"
    fxLayout.gt-sm="row"
    fxLayout.lt-md="column"
    fxLayoutGap="24px"
  >
    <div
      [@zoomInUp]="state"
      class="facilities-details"
      fxLayout="column"
      fxLayoutAlign="start center"
      fxLayoutGap="44px"
    >
      <div fxLayoutAlign="start center" class="section-heading-card">
        <img src="/assets/images/pencil.png" alt="pencil" />
        <span>Our facilities</span>
      </div>
      <div class="facilities-text">
        Our facilities comprise a mix of academics and extracurricular that
        continually engage the child's attention and personal growth.
      </div>
    </div>
    <div
      fxLayout="row wrap"
      fxLayoutAlign.gt-md="start center"
      fxLayoutAlign.lt-lg="space-between"
      fxLayoutAlign.lt-md="center"
    >
      <ng-container *ngFor="let facility of facilities">
        <div
          [@zoomInUp]="state"
          fxLayout="column"
          class="facility-container"
          fxLayoutGap="12px"
          fxLayoutAlign.gt-sm="start start"
          fxLayoutAlign.lt-md="start center"
        >
          <img
            class="facility-image"
            [src]="facility.image"
            [alt]="facility.name"
          />
          <span class="facility-name">{{ facility.name }}</span>
          <span>{{ facility.text }}</span>
        </div>
      </ng-container>
    </div>
  </div>
</div>
