<div
  #specialClassesSection
  fxLayoutAlign="center"
  class="special-classes"
  (window:load)="updateAnimationStateOnScroll(specialClassesSection, state)"
  (window:scroll)="updateAnimationStateOnScroll(specialClassesSection, state)"
>
  <div class="max-width-container" fxLayout="column" fxLayoutGap="44px">
    <div fxLayoutAlign="start center" class="section-heading">
      <img src="/assets/images/pencil.png" alt="pencil" />
      <span>Special classes</span>
    </div>
    <div fxLayout="row" fxLayoutGap="24px" class="cards-container">
      <ng-container *ngFor="let specialClass of specialClasses; let i = index">
        <div [@zoomInUp]="state" fxLayout="column" class="special-class-card">
          <img [src]="specialClass.image" [alt]="specialClass.name" />
          <div
            fxLayout="column"
            fxLayoutAlign="start center"
            fxLayoutGap="12px"
            class="card-content"
          >
            <div class="card-heading">{{ specialClass.name }}</div>
            <div class="card-text">{{ specialClass.text }}</div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
