@import "/src/app/utils/variables.scss";

.special-classes {
  background: url("../../../../assets/images/special-classes-bg.png");
  padding: 64px;
  background-repeat: no-repeat;
  background-size: cover;
}

.cards-container {
  overflow: hidden;
}

.special-class-card {
  background: $WHITE;
  border-radius: 12px;
  overflow: hidden;
  width: calc((100% - 72px) / 4);
  min-width: calc((100% - 72px) / 4);
  max-width: calc((100% - 72px) / 4);

  img {
    width: 100%;
  }
}

.card-content {
  padding: 12px 30px;
}

.card-heading {
  font-weight: 700;
  font-size: 18px;
  color: $BLACK;
  text-transform: uppercase;
}

.card-text {
  font-weight: 300;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
}

@media screen and (max-width: 1279px) {
  .special-class-card {
    width: calc((100% - 48px) / 3);
    min-width: calc((100% - 48px) / 3);
    max-width: calc((100% - 48px) / 3);
  }
}

@media screen and (max-width: 959px) {
  .special-class-card {
    width: calc((100% - 24px) / 2);
    min-width: calc((100% - 24px) / 2);
    max-width: calc((100% - 24px) / 2);
  }
}

@media screen and (max-width: 599px) {
  .special-class-card {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
  }
}
