@import "/src/app/utils/variables.scss";

.table {
  border-radius: 12px;
  width: 100%;
  margin: 12px 12px 24px 12px;
  border-collapse: collapse;

  tr,
  td,
  th {
    text-align: center;
  }

  tr {
    padding: 12px;
    display: flex;
    align-items: center;

    &:not(:first-of-type) {
      &:nth-child(odd) {
        background-color: $LIGHT-BLUE;
      }

      &:nth-child(even) {
        background-color: $WHITE-GRAY;
      }
    }
  }

  th,
  td {
    text-transform: capitalize;
  }

  &__headers {
    border-bottom: 1px solid $LIGHT-GRAY;
  }

  &__name {
    font-weight: 600;
  }

  &__actions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    & * {
      cursor: pointer;

      &:first-child {
        color: $ORANGE;
      }

      &:last-child {
        color: $BLUE;
      }
    }
  }
}

.fx-10 {
  flex: 1 1 10%;
}

.fx-20 {
  flex: 1 1 20%;
}

.fx-70 {
  flex: 1 1 70%;
}
