<div class="bulge-circle" (click)="goToTop()">
  <fa-icon [icon]="faAnglesUp"></fa-icon>
</div>
<div fxLayoutAlign="center" class="footer-container">
  <div
    fxLayout="row wrap"
    fxLayoutAlign="space-between"
    class="w-full w-m-1320 footer"
  >
    <div fxLayout="column" fxLayoutGap="6px">
      <div class="footer-header">Menu</div>
      <div class="footer-contet" fxLayout="column" fxLayoutGap="8px">
        <span class="footer-menu-item" *ngFor="let menuItem of menuItems">
          {{ menuItem.name }}
        </span>
      </div>
    </div>
    <div fxLayout="column" fxLayoutGap="6px">
      <div class="footer-header">Address</div>
      <div class="footer-contet" fxLayout="column" fxLayoutGap="8px">
        <div *ngFor="let addressItem of addressDetails" fxLayoutGap="6px">
          <fa-icon class="icons" [icon]="addressItem.icon"></fa-icon>
          <span>{{ addressItem.detail }}</span>
        </div>
      </div>
    </div>
    <div fxLayout="column" fxLayoutGap="6px">
      <div class="footer-header">About us</div>
      <div class="footer-contet">
        <span>
          We at DYPIS Kangra aspire at developing a sense of confidence and
          responsibility among students. Our students will be able to develop
          good communication skills, lay down a strong foundation for the vast
          knowledge and transfer positive principles for the benefit of their
          future.
        </span>
      </div>
    </div>
  </div>
</div>
