@import "../utils/variables.scss";

.footer-container {
  background-image: url("../../assets/images/footer.png");
  padding: 60px 42px;
  position: relative;
  z-index: 1;
}

.bulge-circle {
  color: $WHITE;
  font-size: 28px;
  padding-top: 8px;
  text-align: center;
  background: $BLACK;
  left: 50%;
  position: absolute;
  border-radius: 50%;
  width: 140px;
  height: 120px;
  transform: translate(-50%, -36%);
  cursor: pointer;
}

.footer-header {
  color: $WHITE;
  font-size: 40px;
  font-weight: 700;
}

.footer-contet {
  color: $GRAY;
  max-width: 360px;
}

.footer {
  gap: 44px;
}

.footer-menu-item {
  text-transform: capitalize;
  cursor: pointer;

  &:hover {
    color: $WHITE;
  }
}

.icons {
  font-size: 12px;
}
