$ORANGE: #fb6b48;
$BLUE: #5bc4db;
$LIGHT-BLUE: #cdeef0;
$DARK-GREEN: #879f27;
$GREEN: #43c077;
$YELLOW: #fac80d;
$PURPLE: #ba82c5;
$WHITE: #fff;
$GRAY: #929292;
$LIGHT-GRAY: #a0a09f;
$WHITE-GRAY: #f8f8f8;
$BLACK: #191919;
$LIGHT-BLACK: #5b5b5b;
$DARK-BLACK: #111;
