@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "./app/utils/variables.scss";

/* You can add global styles to this file, and also import other style files */
* {
  padding: 0;
  margin: 0;
  font-family: "Dosis", sans-serif;
  transition: 700ms;
}

body {
  overflow: overlay;
}

.cdk-overlay-container * {
  transition: unset !important;
}

.h-fit {
  height: fit-content;
}

.w-m-1320 {
  max-width: 1320px;
}

.w-full {
  width: 100%;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-x-auto {
  overflow-x: auto;
}

.overflow-y-auto {
  overflow-y: auto;
}

.overflow-auto {
  overflow: auto;
}

.max-width-container {
  width: 100%;
  max-width: 1320px;
}

.cursor-pointer {
  cursor: pointer;
}

.section-heading,
.section-heading-card {
  position: relative;

  img {
    width: 75px;
  }

  span {
    color: $BLACK;
    font-weight: 700;
    font-size: 22px;
    text-transform: uppercase;
  }

  &::after {
    content: "";
    position: absolute;
    display: block;
    width: 60px;
    height: 3px;
    background: #191919;
  }
}

.section-heading::after {
  bottom: -7px;
  left: 20px;
}

.section-heading-card::after {
  bottom: 0;
  left: 75px;
}

////////////////////
// custom scroll bar
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  border-radius: 12px;
  background-color: $DARK-GREEN;
}
// custom scroll bar end
////////////////////////

.no-error-field {
  margin-bottom: -1.25em;
}

.custom-form-field {
  max-width: 600px;

  * {
    transition: transform 400ms cubic-bezier(0.25, 0.8, 0.25, 1),
      color 400ms cubic-bezier(0.25, 0.8, 0.25, 1),
      width 400ms cubic-bezier(0.25, 0.8, 0.25, 1) !important;
  }

  .mat-form-field-outline-start {
    border-radius: 12px 0 0 12px !important;
    min-width: 12px !important;
  }

  .mat-form-field-outline-end {
    border-radius: 0 12px 12px 0 !important;
  }

  .mat-form-field-suffix {
    top: -4px !important;
    right: 12px;
  }
}

.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: $ORANGE !important;
}

.mat-form-field.mat-focused.custom-form-field .mat-form-field-label {
  color: $ORANGE !important;
}

.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float.custom-form-field
  .mat-form-field-label {
  transform: translateY(-1.69375em) scale(0.75) !important;
  width: 133.3333333333% !important;
  padding-left: 10px;
}

.base-page {
  padding: 186px 64px 84px 64px;
}

.base-heading {
  font-size: 40px;
  line-height: 1.4;
  color: $DARK-GREEN;
  font-weight: 700;
  text-transform: uppercase;
}

.base-info {
  color: $GRAY;
  line-height: 25px;
  text-align: justify;
}

@media screen and (max-width: 1460px) {
  .max-width-container {
    max-width: 1140px;
  }
}

@media screen and (max-width: 1279px) {
  .max-width-container {
    max-width: 960px;
  }
}

@media screen and (max-width: 599px) {
  .base-page {
    padding: 128px 24px 74px 24px;
  }

  .base-heading {
    font-size: 28px;
  }
}
