/* You can add global styles to this file, and also import other style files */
* {
  padding: 0;
  margin: 0;
  font-family: "Dosis", sans-serif;
}

.h-fit {
  height: fit-content;
}

.w-m-1320 {
  max-width: 1320px;
}

.w-full {
  width: 100%;
}

.cursor-pointer {
  cursor: pointer;
}
