@import "../utils/variables.scss";

.nav-container {
  background-image: url("../../assets/images/cloud-header.png");
  height: 186px;
  position: sticky;
  top: 0;
  padding: 0 112px;
  z-index: 999;
}

.header-logo-container {
  padding-top: 20px;
  width: 176px;
  border-top: 4px solid $ORANGE;
  cursor: pointer;
}

.menu-item {
  padding: 20px 16px;
  border-top: 4px solid $ORANGE;
  position: relative;
  cursor: pointer;
}

.menu-container {
  &:nth-child(1n) {
    color: $DARK-GREEN;
  }

  &:nth-child(2n) {
    color: $ORANGE;
  }

  &:not(:last-child) .menu-item::after {
    content: "|";
    color: #ccc;
    position: absolute;
    right: 0;
  }
}
