@import "../utils/variables.scss";

.nav-container {
  background-image: url("../../assets/images/cloud-header.png");
  height: 186px;
  position: fixed;
  width: 100%;
  padding: 0 112px;
  z-index: 999;
  transition: 800ms;
}

.header-logo-container {
  padding-top: 20px;
  width: 176px;
  border-top: 4px solid $ORANGE;
  cursor: pointer;
}

.menu-item,
.sub-item {
  position: relative;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
}

.menu-item {
  padding: 20px 16px;
  border-top: 4px solid $ORANGE;
}

.menu-container,
.sub-item {
  &:nth-child(1n) {
    color: $DARK-GREEN;
  }

  &:nth-child(2n) {
    color: $ORANGE;
  }

  &:not(:last-child) .menu-item::after {
    content: "|";
    color: #ccc;
    position: absolute;
    right: 0;
  }
}

.icons {
  font-size: 12px;
  width: 16px;
}

.active-menu-item {
  color: $BLUE;
  border-color: $BLUE;
}

.bars-icon-container {
  padding-top: 28px;
}

.bars-icon,
.cross-icon {
  font-size: 24px;
  cursor: pointer;
}

.cross-icon-container {
  padding: 24px 40px;
}

.bars-icon {
  color: $LIGHT-BLACK;
}

.cross-icon {
  color: $WHITE;
}

.hamburger-menu {
  height: 100vh;
  width: 270px;
  background: $DARK-BLACK;
  position: absolute;
  right: 0;
}

@media screen and (max-width: 959px) {
  .header-logo-container {
    padding-top: 24px;
    border-top: unset;
  }

  .menu-item {
    color: $WHITE;
    border-top: unset;
    padding: 20px 28px;

    &::after {
      content: unset !important;
    }
  }
}

@media screen and (max-width: 599px) {
  .nav-container {
    background-image: unset;
    background: $WHITE;
    height: 90px;
    padding: 0 42px;
  }
}
