<div fxLayoutAlign="center" class="nav-container">
  <div class="w-m-1320 w-full">
    <div fxFlex.gt-sm="30" class="h-fit">
      <img
        class="header-logo-container"
        src="../../assets/images/dypis-text-logo.png"
        alt="dypis logo"
      />
    </div>
    <div
      fxHide.lt-md
      fxLayout="row"
      fxFlex="70"
      fxLayoutAlign="center"
      class="h-fit"
    >
      <div class="menu-container" *ngFor="let menuItem of menuItems">
        <div fxLayoutAlign="start center" fxLayoutGap="6px" class="menu-item">
          <fa-icon class="icons" [icon]="menuItem.icon"></fa-icon>
          <span>{{ menuItem.name }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
