<div class="page-not-found">
  <div
    class="max-width-container"
    fxLayout="column"
    fxLayoutAlign="start center"
    fxLayoutGap="12px"
  >
    <div class="not-found-heading">404</div>
    <img src="/assets/images/page-not-found.png" alt="page not found image" />
    <div class="not-found-heading">page not found</div>
    <div>
      Looks like you have taken a wrong turn … Don't worry … it happens to the
      best of us.
    </div>
    <div class="back-to-home" [routerLink]="['/']">Back to home page</div>
  </div>
</div>
