<div #testimonialsSection fxLayoutAlign="center" class="testimonials">
  <div
    fxLayout.gt-sm="row"
    fxLayout.lt-md="column"
    fxLayoutAlign.gt-sm="start"
    fxLayoutAlign.lt-md="start center"
    class="max-width-container"
    fxLayoutGap="24px"
  >
    <div
      class="stats"
      fxLayout="column"
      fxLayout.sm="row wrap"
      fxLayoutAlign.sm="space-evenly"
      fxLayoutGap="24px"
    >
      <ng-container *ngFor="let stat of schoolStats">
        <div
          fxLayout="row"
          fxLayoutGap="24px"
          fxLayoutAlign="start center"
          class="single-stat"
        >
          <div
            [ngStyle]="{ background: stat.circleColor }"
            class="total-no-stat"
            fxLayoutAlign="center center"
          >
            {{ stat.totalNo }}
          </div>
          <div class="stat-name">{{ stat.name }}</div>
          <fa-icon
            fxLayoutAlign="center"
            [icon]="stat.icon"
            class="stat-icon"
          ></fa-icon>
        </div>
      </ng-container>
    </div>
    <div class="w-full" fxLayoutAlign="center">
      <div
        class="testimonial-container"
        fxLayout="column"
        fxLayoutAlign="start center"
        fxLayoutGap="54px"
      >
        <div fxLayoutAlign="start center" class="section-heading">
          <img src="/assets/images/pencil.png" alt="pencil" />
          <span>testimonial</span>
        </div>
        <div
          fxLayout="column"
          fxLayoutAlign="start center"
          fxLayoutGap.gt-md="36px"
          fxLayoutGap.lt-lg="24px"
        >
          <div fxLayout="row" fxLayoutGap.gt-xs="30px" fxLayoutGap.lt-sm="16px">
            <fa-icon
              fxLayoutAlign="start start"
              class="quote"
              [icon]="quoteLeft"
            ></fa-icon>
            <div class="parent-testimonial">
              {{ testimonials[selectedIndex].text }}
            </div>
            <fa-icon
              fxLayoutAlign="start end"
              class="quote"
              [icon]="quoteRight"
            ></fa-icon>
          </div>
          <img
            [src]="testimonials[selectedIndex].image"
            alt="parent image"
            class="parent-image"
          />
          <div class="parent-name">{{ testimonials[selectedIndex].name }}</div>
          <div class="parent-type">
            {{ testimonials[selectedIndex].designation }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
