<div class="home-container">
  <div fxLayoutAlign="center" class="carousel">
    <!-- <div class="w-full w-m-1320" fxLayoutAlign="space-evenly">
      <div
        [@textBlockSlidingUp]
        fxLayout="column"
        fxLayoutGap="10px"
        fxLayoutAlign="start start"
        class="carousel-content"
      >
        <div class="carousel-sub-heading">Best CBSE School in Kangra</div>
        <div class="carousel-heading">
          International level education rooted in traditional values
        </div>
        <div class="carousel-text">
          Give your child the best platform for the overall growth
        </div>
        <button class="carousel-btn" (click)="openAdmission()">
          get admission
        </button>
      </div>
      <img
        [@guySlidingUp]
        class="carousel-img"
        src="../../../assets/images/guy.png"
        alt=""
      />
    </div> -->
    <div
      class="w-full w-m-1320"
      fxLayoutAlign="space-evenly"
      [ngSwitch]="carouselNumber % 3"
    >
      <ng-container
        *ngSwitchCase="1"
        [ngTemplateOutlet]="caraousel1"
      ></ng-container>

      <ng-container
        *ngSwitchCase="2"
        [ngTemplateOutlet]="caraousel2"
      ></ng-container>

      <ng-container
        *ngSwitchCase="0"
        [ngTemplateOutlet]="caraousel3"
      ></ng-container>
    </div>
    <div class="grass"></div>
    <div class="carousel-cloud"></div>
  </div>
</div>

<ng-template #caraousel1>
  <div
    [@textBlockSlidingUp]
    fxLayout="column"
    fxLayoutGap="10px"
    fxLayoutAlign="start start"
    class="carousel-content"
  >
    <div class="carousel-sub-heading">Best CBSE School in Kangra</div>
    <div class="carousel-heading">
      International level education rooted in traditional values
    </div>
    <div class="carousel-text">
      Give your child the best platform for the overall growth
    </div>
    <button class="carousel-btn" (click)="openAdmission()">
      get admission
    </button>
  </div>
  <img
    [@guySlidingUp]
    class="carousel-img"
    src="../../../assets/images/guy.png"
    alt=""
  />
</ng-template>

<ng-template #caraousel2>
  <div
    [@textBlockSlidingUp]
    fxLayout="column"
    fxLayoutGap="10px"
    fxLayoutAlign="start start"
    class="carousel-content"
  >
    <div class="carousel-sub-heading">Our mission</div>
    <div class="carousel-heading">
      To make our students principled world citizens
    </div>
    <div class="carousel-text">By making them productive individuals</div>
  </div>
  <img
    [@roboticsKidSlidingUp]
    class="carousel-img robotics-kid"
    src="../../../assets/images/kid-robotics.png"
    alt=""
  />
</ng-template>

<ng-template #caraousel3>
  <div
    [@textBlockSlidingUp]
    fxLayout="column"
    fxLayoutGap="10px"
    fxLayoutAlign="start start"
    class="carousel-content"
  >
    <div class="carousel-sub-heading">For a skillful tomorrow</div>
    <div class="carousel-heading">
      A school where co-curricular activities are given equal importance
    </div>
    <div class="carousel-text">Sports, music, dance, art and much more...</div>
  </div>
  <img
    [@guySlidingUp]
    class="carousel-img"
    src="../../../assets/images/girl-art.png"
    alt=""
  />
</ng-template>
