@import "../../utils/variables.scss";

.grass {
  background: url("../../../assets/images/grass.png");
  height: 280px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: scale(1.5);
  background-repeat: repeat-x;
  background-position-y: -35px;
}

.carousel {
  padding: 186px 60px;
  width: 100%;
  background-color: $BLUE;
  height: 100vh;
  max-height: 900px;
  position: relative;
  overflow: hidden;

  &-content {
    color: $WHITE;
    padding: 50px 20px;
  }

  &-sub-heading {
    font-weight: 900;
    text-transform: uppercase;
  }

  &-heading {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 40px;
  }

  &-text {
    border-radius: 0 0 5px 5px;
  }

  &-btn {
    font-size: 14px;
    font-weight: 700;
    border: none;
    padding: 18px 30px;
    border-radius: 30px;
    color: $WHITE;
    background: $YELLOW;
    text-transform: uppercase;
    cursor: pointer;
    z-index: 1;
  }

  &-img {
    height: 114%;
  }

  &-cloud {
    background: url("../../../assets/images/cloud-caraousel.png");
    height: 260px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-position-x: -50px;
  }
}

@media screen and (max-width: 1279px) {
  .carousel {
    &-sub-heading {
      font-size: 14px;
    }

    &-heading {
      font-size: 32px;
    }

    &-text {
      font-size: 14px;
    }

    &-btn {
      padding: 16px 20px;
    }
  }
}

@media screen and (max-width: 959px) {
  .carousel {
    height: 70vh;
    padding: 122px 30px;

    &-content {
      padding: 44px 12px;
    }

    &-img {
      height: 128%;
    }

    &-sub-heading {
      font-size: 14px;
    }

    &-heading {
      font-size: 28px;
    }

    &-text {
      font-size: 14px;
    }

    &-cloud {
      height: 130px;
      background-size: cover;
    }
  }

  .grass {
    height: 178px;
    transform: unset;
    background-size: cover;
    background-position-y: bottom;
  }
}

@media screen and (max-width: 600px) {
  .carousel {
    height: 40vh;
    padding: 104px 30px 70px 30px;

    &-content {
      padding: unset;
      padding-top: 12px;
    }

    &-img {
      height: 136%;
    }

    &-sub-heading {
      font-size: 8px;
    }

    &-heading {
      font-size: 12px;
    }

    &-text {
      font-size: 8px;
    }

    &-btn {
      font-size: 10px;
      padding: 10px 12px;
    }

    &-cloud {
      display: none;
    }
  }

  .grass {
    height: 100px;
  }
}
