@import "../../../utils/variables.scss";

.admission-process {
  padding: 64px;
}

.admission-card-container {
  padding: 20px;
  background: $WHITE-GRAY;
  border-radius: 12px;
}

.admission-process-card {
  border-radius: 12px;
  background: $WHITE;
  width: 100%;
  padding: 20px;

  &:hover {
    .admission-card-icon {
      transform: rotateY(360deg);
    }

    .admission-card-title {
      color: $YELLOW;
    }

    .admission-card-btn {
      background: $YELLOW;
    }
  }
}

.admission-card-icon {
  font-size: 48px;
}

.admission-card-title {
  font-weight: 700;
  font-size: 18px;
  color: $BLACK;
  text-transform: uppercase;
}

.admission-process-content {
  line-height: 26px;
  color: #616161;
  text-align: center;
  font-size: 14px;
}

.admission-card-btn {
  background: $DARK-GREEN;
  color: $WHITE;
  font-weight: 700;
  font-size: 14px;
  padding: 8px 30px;
  border-radius: 30px;
  text-transform: uppercase;
}

@media screen and (max-width: 599px) {
  .admission-process {
    padding: 64px 24px;
  }
}
