<div fxLayoutAlign="center" class="base-page">
  <div
    class="max-width-container message-container"
    fxLayout="column"
    fxLayoutGap="8px"
  >
    <div class="base-heading">Chairman's Message</div>
    <div fxLayout="row" fxLayoutGap="16px">
      <div class="base-info chairman-message-info">
        <img class="chairman-image" src="/assets/images/chairman.jpeg" alt="" />

        <span>
          Dear Parents, It is with great pleasure that we welcome you and your
          child to the DY Patil International School. We will do our best to
          assist you and your child to settle quickly into our community, and to
          help him/ her make the most of this educational opportunity.
        </span>
        <span>
          Your children are the most precious resource within our community and
          we need to nurture them by providing the very best education possible.
          We believe that this means offering a vibrant, innovative and rigorous
          education, aligned with the International Baccalaureate and University
          of Cambridge Programmes. The curriculum inspires and challenges our
          students to develop a love for learning and ensures that they have the
          knowledge, skills and values to cope with a rapidly changing world.
        </span>
        <span>
          Our mission statement clearly identifies the importance we place on
          inspiring young minds and challenging young individuals within a
          caring international environment. As part of our community of
          learners, your children will experience a warm and welcoming
          environment and gain a sense of confidence from the highly skilled and
          professional staff working here at the school.
        </span>
        <span>
          DYPIS is a happy, exciting place filled with children learning the
          academic, personal and social skills necessary for life-long learning,
          success and happiness.
        </span>
        <span>
          At DYPIS, education is viewed as a partnership in which Parents and
          the School work closely together to ensure that our young people are
          able to be confident. knowledgeable, responsible, caring and capable
          citizens. Throughout the year, we look forward to meeting with
          parents, both formally and informally, as we share in the holistic
          development of our students.
        </span>
        <span>
          We welcome you to actively participate in making our mission statement
          a reality!
        </span>
      </div>
    </div>
    <div class="warm-regards" fxLayout="column" fxLayoutGap="4px">
      <span class="regards">With Warm Regards,</span>
      <span class="chairman-name">Dr Ajeenkya DY Patil</span>
    </div>
  </div>
</div>
